<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Move</title>
    
</head>
<body>
    <form method="post" action="/">
            <div>
                <input type="submit" value="right" name="right" />
                <input type="submit" value="left" name="left" />
                <input type="submit" value="up" name="up" />
                <input type="submit" value="down" name="down" />

            </div>
    </form>
</body>
</html>